{% extends 'base.html' %}

{% block content %}
<h2>Login to ChatBox</h2>
<form action="" method="POST">
			<label for="name">Username : </label>
			<br><br>
			<input type="text" name="username" placeholder="enter username">
			<br><br>
			{% if errors['username'] %}
				<span style="color: red">{{errors['username']}}</span>
			{% endif %}
			<br><br>
			
			<label for="password">Password : </label>
			<br><br>
			<input type="password" name="password">
			<br><br>
			{% if errors['password'] %}
				<span style="color: red">{{errors['password']}}</span>
			{% endif %}
			<br><br>
			<input type="submit" name="submit" value="submit">
	</form>
	
	<br><br>
	<a href="{{url_for('auth.signup')}}">New User</a>
	<br><br>
	<a href="{{url_for('auth.reset_password_request')}}">Forgot Password</a>
{% endblock %}