<link rel="stylesheet" type="text/css" href="{{url_for('static', filename= 'CSS/form.css')}}">

{% extends 'base.html' %}

{% block content %}
<div class="form_page">

<form action="" method="POST">
	<h2 id="heading">Request New Password</h2>
	<label class="form_label" for="credential">Username or Email: </label>
	<br><br>
	<input style="width: 80%" type="text" name="credential" placeholder="Username or Email Address" value="{{credential}}">
	<br><br>
	{% if error %}
		<span style="color: red">{{error}}</span>
		<br><br>
	{% endif %}
	<div style="text-align: center;">
		<input type="submit" name="submit" value="submit">	
	</div>
</form>
	
</div>
{% endblock %}