<link rel="stylesheet" type="text/css" href="{{url_for('static', filename= 'CSS/form.css')}}">

{% extends 'base.html' %}

{% block content %}
<form action="" method="POST">
	<label for="new_password">New Password : </label>
	<br><br>
	<input type="text" name="new_password" placeholder="enter new password" value="{{new_password}}">
	<br><br>
	{% if error %}
		<span style="color: red">{{error}}</span>
		<br><br>
	{% endif %}
	
	<div style="text-align: center;">
		<input  type="submit" name="submit" value="Submit">	
	</div>
</form>
{% endblock %}