<link rel="stylesheet" type="text/css" href="{{url_for('static', filename= 'CSS/form.css')}}">

{% extends 'base.html' %}

{% block content %}
<div class="form_page">
	<h2 id="heading">Sign Up</h2>
	<form action="" method="POST">
			<label class="form_label" for="username">Username : </label>
			<br><br>
			<input type="text" name="username" placeholder="Username" value="{{user['username']}}">
			{% if errors['username']%}
				<span style="color: red">*{{errors['username']}}</span>
			{% endif %}
			<br><br>

			<label class="form_label" for="email">Email : </label>
			<br><br>
			<input type="text" name="email" value="{{user['email']}}" placeholder="Email">
			{% if errors['email']%}
				<span style="color: red">*{{errors['email']}}</span>
			{% endif %}
			<br><br>

			<label class="form_label" for="password">Password : </label>
			<br><br>
			<input type="password" name="password"placeholder="Password">
			{% if errors['password']%}
				<span style="color: red">*{{errors['password']}}</span>
			{% endif %}
			<br><br>
			
			{% if user['gender'] and user['gender'] == 'female' %}
				<input class="form_label" type="radio" name="gender" value="female" checked> Female 
			{% else %}
				<input class="form_label" type="radio" name="gender" value="female"> Female 
			{% endif %}

			{% if user['gender'] and user['gender'] == 'male' %}
				<input class="form_label" type="radio" name="gender" value="male" checked>Male 
			{% else %}
				<input class="form_label" type="radio" name="gender" value="male"> Male 
			{% endif %}

			{% if user['gender'] and user['gender'] == 'others' %}
				<input class="form_label" type="radio" name="gender" value="others" checked> Others 
			{% else %}
				<input class="form_label" type="radio" name="gender" value="others"> Others 
			{% endif %}

			{% if errors['gender']%}
				<span style="color: red">{{errors['gender']}}</span>
			{% endif %}
			<br><br>

			<label for="about">Few Words about yourself: </label>
			<br><br>
			<textarea autofocus="autofocus" name="about" rows="5" cols="36" maxlength="200" style="resize: none" placeholder="Add a brief introduction to yourself..">{{user['about']}}</textarea>
			<br><br>

			<div style="text-align: center;">
				<input  type="submit" name="submit" value="Submit">	
			</div>
	</form>
	
	<br><br>
	<a href="{{url_for('auth.login')}}">Already a User</a>
</div>
{% endblock %}