<div data-id="{{user.id}}" class="friendcard" >
	
	<img class= "picture" src="{{url_for('static', filename= 'images/profile_pictures/' + user.profile_picture)}}">
	<div class="details">
		
		<div class="name"> {{user.username}}</div>
		<div class="lastseen"> {{user.last_seen}}</div>	
		<div class="last-message">
			{% if current_user.get_last_message(user.id) %}
				{% if current_user.get_last_message(user.id)['sender'] == current_user.id %}
					you: {{current_user.get_last_message(user.id)['message']}}
				{% else %}
					{{user.username}}: {{current_user.get_last_message(user.id)['message']}} 
				{% endif %}
			{% else %}
				start a conversation
			{% endif %}
		</div>

	</div>
</div>		


