<div id="right_content">
	<div class="user_card">
		<div class="user_picture">
			<img class= "user_img" src="{{url_for('static', filename= 'images/female_default.png')}}">
		</div>
		<div class="user_details">
			<div class="user_detail_upper">
				<div class="username"> AVSTARK dfsf dfj</div>			
			</div>

			<div class="user_about">
				Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
				tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
				quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
				consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
			</div>					
		</div>

	</div>		
	
</div>