<div class="usercard">
	<img class="picture" src="{{url_for('static', filename= 'images/profile_pictures/' + user.profile_picture)}}">
	
	<div class="details">
		<div class="name"> {{user.username}}</div>
		<div class="buttons">
			{% set check= current_user.user_status(user.id) %}
			{% if check == 0 %}
				<button id= "send_{{user.id}}" class="user_button send_button" value="{{user.id}}">Send Request</button>
			{% elif check == 1 %}
				<button id= "delete_{{user.id}}" class="user_button delete_button" value="{{user.id}}">Delete Request</button>
			{% elif check == 2 %}
				<button id= "accept_{{user.id}}" class="user_button accept_button" value="{{user.id}}">Accept Request</button>
				<button id= "delete_{{user.id}}" class="user_button delete_button" value="{{user.id}}">Delete Request</button>
			{% endif %}		
		</div>	
			 
		<div class="userabout">
			{% if user.about_me %}
				{{user.about_me}}
			{% else %}		
				Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
				tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
				quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
				consequat. Duis aute irure dolor in reprehenderit in voluptate velit ese
			{% endif %}
		</div>					
	</div>
</div>		
