{% for message in messages %}
	{% if message.sender == userid %}
		<div class="message"
		style="margin-right:auto; margin-left: 10px; background-color: yellow;">
			<div class="message_body">{{message.message}}</div>
			<div class="message_stamp">{{message.timestamp}}</div>
		</div>
	{% else %}
		<div class="message" 
		style="margin-left: auto; margin-right: 10px;background-color: green;">
			<div class="message_body">{{message.message}}</div>
			<div class="message_stamp">{{message.timestamp}}</div>
		</div>
	{% endif %}
{% endfor %}

<div id="message_form">
<textarea id="message_area" autofocus="autofocus" name="message_area"  placeholder="type a message"></textarea>
<button id="send" value="{{userid}}" onclick="send_message({{ userid |tojson }})">Send</button>
</div>

