<link rel="stylesheet" type="text/css" href="{{url_for('static', filename= 'CSS/explore.css')}}">

<link rel="stylesheet" type="text/css" href="{{url_for('static', filename= 'CSS/_usercard.css')}}">

{% block scripts %}
	<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.6/socket.io.min.js"></script>

	<script type="text/javascript"  src="{{url_for('static', filename= 'scripts/explore.js')}}"></script>
{% endblock %}

{% extends 'base.html' %}

{% block content %}
<div id="content">
	<div id="left_content">
		<img id="profile_photo"  src= "{{url_for('static', filename= 'images/profile_pictures/' + current_user.profile_picture)}}">	
		<div id="username">{{current_user.username}}</div>
		<div id="about_me"	class="about">
		{% if current_user.about_me %}
		<p>
			{{current_user.about_me}}
		</p>
		{% endif %}
		</div>
		<div id="edit_form_div">
			<p style="text-align: center;">Edit Profile</p>
			<form id="edit_form" method="POST" action="" enctype="multipart/form-data">
				<label for="pic_form"> Profile Picture</label>
				<input type="file" name="pic_form" id="pic_form" style="margin: auto;">
				<br><br>
				<textarea id="about_form" name="about_form"placeholder="Update your introduction"></textarea>
				<br><br>
				<input type="submit" name="submit" value="update">
			</form>	
		</div>
	</div>

	<div id="right_content">
		<div id="heading">
			<h1>ChatBox Community</h1>	
		</div>

		<div id="users">
			{% for user in users %}
				{% include 'Messenger/_usercard.html' %}
			{% endfor %}	
		</div>
		</div>
</div>

{% endblock %}
