<link rel="stylesheet" type="text/css" href="{{url_for('static', filename= 'CSS/home.css')}}">

<link rel="stylesheet" type="text/css" href="{{url_for('static', filename= 'CSS/_friendcard.css')}}">

{% block scripts %}
	<script src="/socket.io/socket.io.js"></script>
	<script type="text/javascript"  src="{{url_for('static', filename= 'scripts/index.js')}}"></script>
{% endblock %}

{% extends 'base.html' %}

{% block content %}
<div id="content">
<div id="left_content">
	{% if current_user.profile_picture %}
		<img id="profile_photo"  src= "{{url_for('static', filename= 'images/' + current_user.profile_picture)}}">	
	{% elif current_user.gender == 'female' %}
		<img id="profile_photo"  src= "{{url_for('static', filename= 'images/female_default.png')}}">
	{% else %}
		<img id="profile_photo"  src= "{{url_for('static', filename= 'images/male_default.png')}}">
	{% endif %}
	
	<div style="margin: 10px auto 10px auto;"><b>{{current_user.username}}</b></div>

	<div id="friends">
		{% for user in users %}
			{% include 'Messenger/_friendcard.html' %}
		{% endfor %}	
	</div>
</div>

<div id="right_content">
	<div id="heading">
		<h1>Chats</h1>	
	</div>
	<div id="chat" >
		<img id= "default_chat" src="{{url_for('static', filename= 'images/chat_img.png')}}">
		<!-- <div style="margin: auto">Tap user to start a chat</div> -->
	</div>
</div>
</div>
{% endblock %}