<link rel="stylesheet" type="text/css" href="{{url_for('static', filename= 'CSS/index.css')}}">

<link rel="stylesheet" type="text/css" href="{{url_for('static', filename= 'CSS/_friendcard.css')}}">

{% block scripts %}
<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.6/socket.io.min.js"></script>
<script type="text/javascript"  src="{{url_for('static', filename= 'scripts/index.js')}}"></script>
{% endblock %}

{% extends 'base.html' %}

{% block content %}
<div id="content">
<div id="left_content">
	<img id="profile_photo"  src= "{{url_for('static', filename= 'images/profile_pictures/' + current_user.profile_picture)}}">	

	<div id= "username" style="margin: 10px auto 10px auto;">{{current_user.username}}
	</div>

	<div id="friends">
		{% for user in users %}
			{% include 'Messenger/_friendcard.html' %}
		{% endfor %}	
	</div>
</div>

<div id="right_content">
	<div id="heading"><div class="heading-name">Chats</div></div>
	<div id= "chat">
		<div id="image_div">
			<img id= "chat_image" src="{{url_for('static', filename= 'images/chat_img.png')}}">
		</div>
		<div id="chat_list"></div>
		<div id="chat_form">
			<textarea id="new_message_text" placeholder="type message" autofocus="autofocus" style="resize: none"></textarea>
			<button id="send" class="button_class">Send</button>
		</div>
	</div>
</div>
</div>
{% endblock %}