#nav{
	display: flex;
	justify-content: flex-start;
}
#nav a{
	text-decoration: none;
	margin-right: 2px;
	padding: 5px;
}

#nav a:hover{
	background-color: #ddd;
	color: black;
}

.auth{
	margin-left: auto;
}

#content{
	display: flex;
	margin: auto;
	margin-top: 16px;
	width: 1000px;
	height: 92%; 
	justify-content: flex-start;
}

@media(max-width: 1100px){
	#content{
		width: 800px;
	}
}
