.user_card{
	display: flex;
	justify-content: flex-start;
	margin-right: auto;
	margin-top: 5px;
	margin-left: 5px;
	background-color: #b5e0ff;
	height: 120px;
	width: 98%;
}

.user_card:hover{
	background-color:#6aebcd;
	color: black;
}

.user_picture{
	width: 100px;
	margin-right: 20px;
	}

.user_img{
	width: 60px;
	height: 60px;
	border-radius: 50%; 
	margin: 50px 20px 50px 20px; 
}

.user_details{
	display: flex;
	flex-direction: column; 
		flex-grow: 1
}
.user_detail_upper{
	display: flex;
}
.username{
	font-size: medium;
	margin-right: auto;
	margin-left: 10px;
	margin-top: 10px;
	height: 20px;
	flex-grow: 1;
	border: 2px red solid;
}
.user_last_seen{
	font-size: small;
	margin-left: auto;
	margin-right: 10px;
	margin-top: 10px;
	height: 25px;
	}

.user_about{
	/*background-color: red;*/
	height: 56px;
	overflow: hidden;
	margin-right: auto;
	margin-top: auto;
	margin-bottom: 10px;
}

@media(max-width: 1100px){
	.user_picture{
		width: 60px;
	}

	.user_img{
		width: 40px;
		height: 40px;
		margin:60px 10px 60px 10px;
	}	
}