.usercard{
	display: flex;
	align-items: center;
	margin-top: 5px;
	margin-left: 5px;
	padding: 5px;
	background-color: #b5e0ff;
	height: 120px;
	width: 98%;
}

.usercard img{
	width: 60px;
	height: 60px;
	border-radius: 50%;
	margin-right: 20px;
}

.usercard .details{
	width: 100%;
}

.usercard .name{
	font-size: medium;
	font-weight: bold;
	display: inline;
}

.usercard .buttons{
	margin-left: auto;
	float: right;
}

.already_friend{
	margin-left: auto;
	margin-top: 10px;
}

.userabout{
	height: 45px;
	overflow: hidden;
	margin-right: auto;
	margin-top: auto;
	padding: 10px;
	margin-bottom: 10px;
}

@media(max-width: 950px){

	.usercard img{
		width: 60px;
	}

	.picture{
		width: 40px;
		height: 40px;
	}	

}

@media(max-width: 700px){
	.usercard{
		width: 490px;
	}
}