.user_card{
	display: flex;
	justify-content: flex-start;
	margin-right: auto;
	margin-top: 5px;
	margin-left: 5px;
	background-color: #b5e0ff;
	height: 120px;
	width: 96%;
}

.user_picture{
	width: 100px;
	}
.user_img{
	width: 60px;
	height: 60px;
	border-radius: 50%; 
	margin: 30px 20px 30px 20px; 
}

.user_details{
	display: flex;
	flex-direction: column; 
		flex-grow: 1
}
.user_detail_upper{
	display: flex;
}
.username{
	font-size: medium;
	margin-right: auto;
	margin-left: 10px;
	margin-top: 10px;
	height: 20px;
		/*flex-grow: 1*/
}
.user_button{
	font-size: medium;
	margin-left: auto;
	margin-right: 10px;
	margin-top: 10px;
	height: 25px;
	}
.user_about{
	/*background-color: red;*/
	height: 56px;
	overflow: hidden;
	margin-right: auto;
	margin-top: auto;
	margin-bottom: 10px;
}