.user_card{
	display: flex;
	justify-content: flex-start;
	margin-right: auto;
	margin-top: 5px;
	margin-left: 5px;
	background-color: #b5e0ff;
	height: 120px;
	width: 98%;
}

.user_picture{
	width: 100px;
	margin-right: 20px;
	align-self: center;
}

.user_img{
	width: 60px;
	height: 60px;
	border-radius: 50%; 
	margin: 50px 20px 50px 20px; 
}

.user_details{
	display: flex;
	flex-direction: column; 
		flex-grow: 1
}

.user_detail_upper{
	display: flex;
}

.username{
	font-size: medium;
	margin-right: auto;
	margin-left: 10px;
	margin-top: 10px;
	height: 20px;
	flex-grow: 1
	font-weight: bold;
}
.user_button{
	font-size: medium;
	margin-left: auto;
	margin-right: 10px;
	margin-top: 10px;
	height: 25px;
	}

.already_friend{
	margin-left: auto;
	margin-top: 10px;
}
.user_about{
	/*background-color: red;*/
	height: 45px;
	overflow: hidden;
	margin-right: auto;
	margin-top: auto;
	padding: 10px;
	margin-bottom: 10px;
}

@media(max-width: 950px){

	.user_picture{
		width: 60px;
	}

	.user_img{
		width: 40px;
		height: 40px;
		margin:60px 10px 60px 10px;
	}	

}

@media(max-width: 700px){
	.user_card{
		width: 490px;
	}
}