body{
	background-color: #e8e9eb;
	margin: 0px;
	padding: 0px;

}

#logo{
	width: 30px;
	height: 30px;
	padding-left: 5px;
	padding-right: 5px;	
	margin-right: 5px;
}

#nav{
	display: flex;
	justify-content: flex-start;
	padding: 5px; 
	border-bottom: 2px solid #032363;
	background-color: white;
	margin: 0;
}
#nav a{
	text-decoration: none;
	color: #032363;
	margin-right: 5px;
	padding: 5px;
}

#nav a:hover{
	background-color: #e6ebf5;
	color: black;
}

.auth{
	margin-left: auto;
}

#content{
	display: flex;
	justify-content: center;
	margin: auto;
	margin-top: 10px;
	width: 86%;
	height: 92vh; 
	justify-content: flex-start;
	border-radius: 20px 20px 20px 20px;
}

@media(max-width: 1200px){
	#content{
		width: 98%;
		margin: auto;
}
}