.about{
	overflow: hidden;
}

#left_content{
	display: flex;
	flex-direction: column;
	align-items: center;
	border-right: 1px solid grey;
	background-color: #208bc9;
	width: 30%;
	border-radius: 20px 0px 0px 20px;
}

#right_content{
	display: flex;	
	flex-direction: column;
	align-items: center;
	width: 70%;
}

#profile_photo{
	width: 160px;
	height: 160px;
	border-radius: 50%; 
	border: 2px black solid;
	margin-top: 20px;
}

#username{
	/*border: 2px black solid;*/
	margin-top: 20px;
	font-weight: bold;
}
#about_me{
	height: 200px;
	width: 90%;
	padding-left: 5px;
	padding-right: 5px;   
	background-color: #d1cb77;
	border-radius: 20px 20px 20px 20px;
	text-align: center;
	border: 2px black solid;
	margin-top: 20px;
}


#edit_form_div{
	padding: 5px;
	margin-top: 50px;
	/*background-color: green;	*/
}

#edit_form{
	font-size: large;
	
}

#edit_form label{
}

#edit_form_div .heading{
	font-size: large;
	text-align: center;
	margin-bottom:20px;
}

#about_form{
	resize: vertical; 
	height: 80px; 
	width: 96%;
}

input{
	padding: 2px 5px 2px 5px;
	/*border: 1px solid #e3e4e6;*/
	font-size: small;
}



#heading{
	background-color: #78eba4;
	width: 100%;
	text-align: center;
	border-radius: 0px 20px 0px 0px;
}

#users{
	background-color: #4aaff7;
	border-radius: 0px 0px 20px 0px;
	overflow-y: scroll; 
	width: 100%;
	height: 100%;
}

@media(max-width: 950px){

	#about_form{
		width: 80%;
	}
	
	#left_content{
		width: 220px;
	}
}

@media(max-width: 700px){
	#right_content{
		width: 490px;
	}

	#profile_photo{
		height: 100px;
		width: 100px;
	}

	#about_me{
		width: 200px;
	}

}