<!DOCTYPE html>
<html lang='en'>
<head>
	<title>
		{% if title %}
			{{ title }} - ChatBox
		{% else %}
			Welcome to ChatBox
		{% endif %}
	</title>
	<meta charset="utf-8">
	<meta name="viewport" content= "width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible">
	<link rel="stylesheet" type="text/css" href="{{url_for('static', filename= 'base.css')}}">
</head>
<body>

{% block nav %}
<div id="nav" >
	{% if g.user %}
		<a href="{{url_for('messenger.index')}}"> Home</a>
		<a href="{{url_for('messenger.explore')}}">Explore</a>
		<a class="auth" href="{{url_for('auth.logout')}}">Logout</a>
	{% else %}
		<a class="auth" href="{{url_for('auth.signup')}}">Sign Up</a>
		<a href="{{url_for('auth.login')}}">Login</a>
	{% endif %}
</div>
{% endblock %}

<hr>

{% for message in get_flashed_messages() %}
	<div class="flash" style="color: red; text-align: center;">{{ message }}</div>
{% endfor %}

<div id="content">
	{% block content %}
	{% endblock %}
</div>

</body>

</html>
