<!DOCTYPE html>
<html>
<head>
	<title>
		{% if title %}
			{{ title }} - ChatBox
		{% else %}
			Welcome to ChatBox
		{% endif %}
	</title>
</head>
<body>

{% block nav %}
<ul style="list-style-type: none;">
	<a href="{{url_for('messenger.index')}}"> <li>Home</li></a>
	{% if g.user %}
			<a href="{{url_for('auth.logout')}}"> <li>Logout</li> </a>
	{% else %}
		<a href="{{url_for('auth.signup')}}"> <li>Sign Up</li> </a>
		<a href="{{url_for('auth.login')}}"> <li>Login</li> </a>
	{% endif %}

</ul>

{% endblock %}

<hr>
<br>
{% for message in get_flashed_messages() %}
	<div class="flash" style="color: red; text-align: center;">{{ message }}</div>
{% endfor %}
{% block content %}
{% endblock %}

</body>

</html>
